div {
  width: 480px;
  padding: 14px;
  background-color: indigo;
  color:white
}

h1 {
  margin-top: 2px;
  font-weight: bold;
  color: firebrick;
  font-size: 50px;
}

img {
  margin-left: 32px;
}